tavily-python
tiktoken
langchain-openai
langchainhub
chromadb
langchain
datasets
langchain-text-splitters
langchain-chroma
langchain-community
langchain-huggingface
ipywidgets
jq
langgraph
pandas
docx
langchain_google_vertexai
langchain_anthropic
llama-cpp-python
nltk
rouge_score
bert_score
tqdm
scikit-learn
openai
# wmd
requests